/* Agenda.css */

.my-events-container {
  margin-left: 5%;
  padding: 20px;
  background-color: #f8f9fa; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Box shadow for elevation */
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Smaller margin for compactness */
}

.button-container button {
  margin-right: 10px; /* Smaller margin for compactness */
  background-color: #007bff; /* Attractive blue color */
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px; /* Smaller font size */
}

.agenda-card {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff; /* White background */
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for elevation */
}

.agenda-card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-agenda-button {
  background-color: #28a745; /* Green color */
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px; /* Smaller font size */
}

.add-agenda-text {
  margin-left: 8px; /* Smaller margin for compactness */
  font-weight: bold;
  font-size: 12px; /* Smaller font size */
}

.table-container {
  margin-top: 20px;
}

.manage-agenda-dialog {
  padding: 20px;
  background-color: #fff; /* White background */
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Box shadow for elevation */
}

.dialog-title {
  text-align: center;
  font-size: 18px; /* Smaller font size */
  margin-bottom: 15px; /* Smaller margin for compactness */
}

.dialog-content {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 20px;
}

.text-field {
  margin-bottom: 20px;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 600px) {
  .my-events-container {
    margin-left: 5px;
  }
}
