/* Home.css */

.home-container {
  margin-left: 5%;
  padding: 15px; /* Slightly reduced padding for a more compact look */
  background-color: #f8f9fa; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Box shadow for elevation */
}

.home-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.home-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Increased margin for better separation */
}

.home-button-container button {
  margin-right: 15px; /* Increased margin for better spacing */
  background-color: #007bff; /* Attractive blue color */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-table-container {
  margin-top: 20px;
}

.home-table-cell {
  font-weight: bold;
}

.home-table-buttons button {
  margin-right: 10px; /* Slightly increased margin for better spacing */
  background-color: #28a745; /* Green color */
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 600px) {
  .home-container {
    margin-left: 5px;
  }

  .home-button-container button {
    font-size: 12px; /* Smaller font size for better readability on smaller screens */
  }
}
