/* Home.css */

/* Styles for the main container */
.home-container {
    margin-left: 13.5%;
}

/* Styles for the header */
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
}

/* Styles for the button container */
.home-button-container {
    display: flex;
    align-items: center;
    height: 30px;
    background: #D8D7D7;
}

/* Styles for the dashboard button */
.home-container .home-dashboard-button {
    margin-right: 1px;
    margin-left: 20px;
    font-size: 60%;
}

/* Styles for the vertical divider */
.home-vertical-divider {
    height: 28px;
    margin: 0 1px;
    background-color: black;
}

/* Styles for the My Events text */
.home-container .home-my-events-text {
    font-size: 60%;
    margin-left: 2px;
}

/* Styles for the selected event text */
.home-container  .home-selected-event-text {
    margin-left: 65%;
    font-size: 65%;
}

/* Styles for the table container */
.home-table-container {
    margin-top: 20px;
}

/* Styles for the table buttons */
.home-container .home-table-buttons {
    margin-right: 5px;
    font-size: 10px;
}

/* Styles for the table cells */
.home-container.home-table-cell {
    font-size: 12px;
}

/* Media Query for Mobile Screens */
/* Media Query for Mobile Screens */
@media (max-width: 600px) {
    /* Adjust styles for smaller screens here */
    .home-container {
        margin-left:15%; /* For example, remove the left margin on smaller screens */
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    .home-header {
        margin-left: 0;
    }

    .home-container .home-dashboard-button {
        margin-left: 10px;
        font-size: 40%; /* Adjust the font size for smaller screens */
    }

  
    .home-container .home-my-events-text {
        font-size: 50%;
        margin-left: 2px;
    }

    .home-container  .home-selected-event-text {
        margin-left: 10%;
        font-size: 50%;
    }

    .home-container .home-table-buttons {
        font-size: 5px; /* Adjust the font size for table buttons on smaller screens */
    }

    .home-container .home-table-cell {
        font-size: 9px; /* Adjust the font size for table cells on smaller screens */
    }

    /* Add more styles as needed */
}



