/* MyEvents.css */

/* Styles for the main container */
.my-events-container {
    margin-left: 13.5%;
  }
  
  /* Styles for the header */
  .my-events-container .my-events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
  }
  
  /* Styles for the button container */
  .my-events-container .my-events-button-container {
    display: flex;
    align-items: center;
    height: 30px;
    background: #D8D7D7;
  }
  
  /* Styles for the dashboard button */
  .my-events-container .my-events-dashboard-button {
    margin-right: 1px;
    margin-left: 20px;
    font-size: 60%;
  }
  
  /* Styles for the vertical divider */
  .my-events-container .my-events-vertical-divider {
    height: 28px;
    margin: 0 1px;
    background-color: black;
  }
  
  /* Styles for the text */
  .my-events-container .my-events-text {
    font-size: 60%;
  }
  
  /* Styles for the selected event text */
  .my-events-container  .my-events-selected-event-text {
    margin-left: 60%;
    font-size: 65%;
  }
  
  /* Styles for the card header */
  .my-events-container .my-events-card-header {
    background-color: #D8D7D7;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Styles for the schedule text */
  .my-events-container .my-events-schedule-text {
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Styles for the action buttons */
  .my-events-container .my-events-action-buttons {
    margin-top: 10px;
    display: flex;
  }
  
  /* Styles for the export buttons */
  .my-events-container .my-events-export-button1 {
    margin-right: 5px;
    font-size: 10px;
    background-color:#47515B ;
  }
  
  .my-events-container .my-events-export-button2 {
    margin-right: 5px;
    font-size: 10px;
    background-color:#5090D9 ;

  }
  .my-events-container .my-events-export-button3 {
    margin-right: 5px;
    font-size: 10px;
    background-color:#66BB6A ;

  }
  /* Styles for the card */
  .my-events-container .my-events-card {
    width: 85%;
    margin-left: 2%;
  }
  