/* ChangePasswordForm.css */

/* Styles for the main container */
.change-password-container {
    margin-left: 13.5%;
  }
  
  /* Styles for the header */
  .change-password-container .change-password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
  }
  
  /* Styles for the button container */
  .change-password-container .change-password-button-container {
    display: flex;
    align-items: center;
    height: 30px;
    background: #D8D7D7;
  }
  
  /* Styles for the dashboard button */
  .change-password-container .change-password-dashboard-button {
    margin-right: 1px;
    margin-left: 20px;
    font-size: 60%;
  }
  
  /* Styles for the vertical divider */
  .change-password-container .change-password-vertical-divider {
    height: 28px;
    margin: 0 1px;
    background-color: black;
  }
  
  /* Styles for the text */
  .change-password-container .change-password-text {
    font-size: 75%;
  }
  
  /* Styles for the selected event text */
  .change-password-container .change-password-selected-event-text {
    margin-left: 60%;
    font-size: 65%;
  }
  
  /* Styles for the card header */
  .change-password-container .change-password-card-header {
    background-color: #D8D7D7;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Styles for the paper */
  .change-password-container .change-password-paper {
    padding: 18px;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    overflow: auto;
    max-height: 400px;
  }
  
  /* Styles for the form */
  .change-password-container .change-password-form {
    width: 100%;
  }
  
  /* Styles for the submit button */
  .change-password-submit-button {
    margin-top: 16px;
  }
  
  /* Add more styles as needed for other elements... */
  