/* Update.css */

/* Styles for the main container */
.update-container {
    margin-left: 13.5%;
  }
  
  /* Styles for the header */
  .update-container .update-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
  }
  
  /* Styles for the button container */
  .update-container .update-button-container {
    display: flex;
    align-items: center;
    height: 30px;
    background: #D8D7D7;
  }
  
  /* Styles for the dashboard button */
  .update-container .update-dashboard-button {
    margin-right: 1px;
    margin-left: 20px;
    font-size: 60%;
  }
  
  /* Styles for the vertical divider */
  .update-container .update-vertical-divider {
    height: 28px;
    margin: 0 1px;
    background-color: black;
  }
  
  /* Styles for the text */
  .update-container  .update-text {
    font-size: 60%;
  }
  
  /* Styles for the selected event text */
  .update-container .update-selected-event-text {
    margin-left: 60%;
    font-size: 65%;
  }
  
  /* Styles for the card header */
  .update-container .update-card-header {
    background-color: #D8D7D7;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Styles for the availability text */
  .update-container .update-availability-text {
    font-size: 75%;
    font-weight: bold;
  }
  
  /* Styles for the paper */
  .update-container .update-paper {
    padding: 16px;
    width: 100%;
    text-align: center;
  }
  
  /* Styles for the availability chips */
  .update-container .availability-chip {
    margin: 2px;
    padding: 5px;
    font-size: small;
  }
  
  .update-container .available {
    color: green;
  }
  
  /* Add more styles as needed for other status chips... */
  
  .update-container .break {
    color: orange;
  }
  .update-container .Confirmed {
    color: blue;
  }
  .update-container .Optional {
    color: brown;
  }
  .update-container .Notavailable{
    color: red;
  }
  
  .update-container .session {
    color: purple;
  }
  
  /* Styles for the tip text */
  .update-container .update-tip {
    margin-bottom: 10px;
    font-size: small;
    background-color: #D8D7D7;
    padding: 1%;
  }
  
  /* Add more styles as needed for other elements... */
  